name: deploy

on:
    push:
        branches:
            - master
        paths:
            - "src/*/index.ts"

jobs:
    deploy:
        # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#choosing-github-hosted-runners
        runs-on: ubuntu-latest
        steps:
            # https://github.com/marketplace/actions/checkout
            - uses: actions/checkout@v6.0.2
            # https://github.com/marketplace/actions/setup-node-js-environment
            - uses: actions/setup-node@v6.2.0
              with:
                  node-version: "24.x"
            # https://github.com/marketplace/actions/cache
            - uses: actions/cache@v5.0.3
              with:
                  path: ~/.local/share/pnpm/store
                  key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
                  restore-keys: ${{ runner.os }}-pnpm-
            - run: |
                  # https://www.npmjs.com/package/pnpm
                  npm install -g pnpm@10.29.3
                  pnpm config set store-dir ~/.local/share/pnpm/store
                  pnpm approve-builds
                  pnpm install
              env:
                  PNPM_HOME: /home/runner/.local/bin
            - run: |
                  make -j check lint test
                  make -j build
            - run: make deploy
              env:
                  CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
                  CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
